.Toolbar {
  width: 230px;
  height: 100%;
  padding-left: 112px;
  box-sizing: border-box;
}

.Toolbar.collectionToolbar {
  height: 520px;
}

.Logo {
  height: 65px;
}

.NavPanel {
  height: calc(100% - 65px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.AdminOptions {
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  .Toolbar {
    float: left;
  }
}
