.Toolbar {
  width: 230px;
  padding-left: 112px;
  box-sizing: border-box;
}

.Toolbar.collectionToolbar {
  height: 520px;
}

.Logo {
  height: 65px;
}

.NavPanel {
  height: calc(100% - 65px);
}

@media (min-width: 768px) {
  .Toolbar {
    float: left;
  }
}
