.Button {
  height: 45px;
  box-sizing: border-box;
  cursor: pointer;
}

.Button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.Button.previous,
.Button.next {
  width: 45px;
  border: 2px solid #ffffff;
}

.Button.previous img {
  transform: scaleX(-1);
}

.Success {
  background-color: #5c9210;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  width: 100px;
}

.Danger {
  background-color: #944317;
}
