.Button {
  width: 45px;
  height: 45px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}

.Button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.Image {
  width: 100%;
}

.previous img {
  transform: scaleX(-1);
}
